.App {
  text-align: center;
  height: 88vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  position: fixed; /* Make the header fixed */
  top: 0; /* Position it at the top */
  left: 0; /* Align to the left */
  right: 0; /* Align to the right */
  z-index: 1000; /* Ensure it stays above other content */
  background: linear-gradient(135deg, #4caf50, #2e7d32); /* Green gradient */
  padding: 2px; /* Reduced padding for lower height */
  border-radius: 0; /* Remove border radius for fixed header */
  min-height: 20px; /* Adjusted minimum height to be smaller */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.App-link {
  color: #4caf50; /* Green link color */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chart-container {
    position: relative;
    width: 100%;
    height: 88vh; 
    margin: 0 auto; /* Center the chart horizontally */
}

